<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pwdlyser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  <userSettings>
    <Pwdlyser.Properties.Settings>
      <setting name="LengthMinimumUserSetting" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="CompanyNameListSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="AdminAccountsList" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingTemp" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GetStartedAccepted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideTabs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TotalOverTimeSettingsPath" serializeAs="String">
        <value>%USERPROFILE%\AppData\Local\Pwdlyser\pwdlyser-total.xml</value>
      </setting>
      <setting name="VulnIdOverview" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdSource" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdLength" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdCompany" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdDict" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdReuse" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdKeyboard" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdDate" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdCharFreq" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdHistory" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdWeak" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdPwned" serializeAs="String">
        <value />
      </setting>
      <setting name="VulnIdAdmins" serializeAs="String">
        <value />
      </setting>
    </Pwdlyser.Properties.Settings>
  </userSettings>
</configuration>